########################################################################
# Copyright (c) 2017 Mellanox Technologies.
# Copyright (c) 2017 Vadim Pasternak <vadimp@mellanox.com>
#
# Licensed under the GNU General Public License Version 2
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#

# Ambient temperature lm75, tmp102
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-6/6-0049/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add board_amb %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-6/6-0049/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm board_amb %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-6/6-004a/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add port_amb %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-6/6-004a/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm port_amb %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-0048/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add port_amb %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-0048/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm port_amb %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-0049/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add board_amb %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-0049/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm board_amb %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-004a/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add port_amb %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-004a/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm port_amb %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-004b/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add board_amb %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-7/7-004b/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm board_amb %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-17/17-0049/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add board_amb %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-17/17-0049/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm board_amb %S %p"

# Core temperature
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/coretemp.0/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add cputemp %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/coretemp.0/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm cputemp %S %p"

# ASIC - FAN and temperature
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-2/2-0048/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add asic %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-2/2-0048/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm asic %S %p"

SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-2/2-0048/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add fan %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/i2c_mlxcpld*/i2c-1/i2c-2/2-0048/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm fan %S %p"

# Thermal zones (ASIC, CPU core, ACPI)
SUBSYSTEM=="thermal", KERNEL=="thermal_zone0", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone0", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone0", ACTION=="change", RUN+="/usr/bin/mellanox-system-event.sh change thermal_zone %k %s{temp} %s{trip_point_0_temp} %s{trip_point_1_temp} %s{trip_point_2_temp} %s{trip_point_3_temp}"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone0", ACTION=="offline", RUN+="/usr/bin/mellanox-system-event.sh offline thermal_zone %S %p %k %s{temp} %s{trip_point_0_temp} %s{module}"

SUBSYSTEM=="thermal", KERNEL=="thermal_zone1", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone1", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone1", ACTION=="change", RUN+="/usr/bin/mellanox-system-event.sh change thermal_zone %S %p %k %s{trip} %s{temp} %s{porttemp} %s{module}"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone1", ACTION=="offline", RUN+="/usr/bin/mellanox-system-event.sh offline thermal_zone %S %p %k %s{portlabel} %s{temp} %s{porttemp} %s{module}"

SUBSYSTEM=="thermal", KERNEL=="thermal_zone2", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone2", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone2", ACTION=="change", RUN+="/usr/bin/mellanox-system-event.sh change thermal_zone %S %p %k"

SUBSYSTEM=="thermal", KERNEL=="thermal_zone3", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone3", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone3", ACTION=="change", RUN+="/usr/bin/mellanox-system-event.sh change thermal_zone %S %p %k"

SUBSYSTEM=="thermal", KERNEL=="thermal_zone4", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone4", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone3", ACTION=="change", RUN+="/usr/bin/mellanox-system-event.sh change thermal_zone %S %p %k"

SUBSYSTEM=="thermal", KERNEL=="thermal_zone5", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone5", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm thermal_zone %S %p %k"
SUBSYSTEM=="thermal", KERNEL=="thermal_zone5", ACTION=="change", RUN+="/usr/bin/mellanox-system-event.sh change thermal_zone %S %p %k"

# Hotplug devices statuses
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/mlxplat/mlxreg-hotplug/hwmon/hwmon*", ACTION=="add", RUN+="/usr/bin/mellanox-system-event.sh add hotplug %S %p"
SUBSYSTEM=="hwmon", DEVPATH=="/devices/platform/mlxplat/mlxreg-hotplug/hwmon/hwmon*", ACTION=="remove", RUN+="/usr/bin/mellanox-system-event.sh rm hotplug %S %p"
